/* style.css */
p,
h1,
h2,
button,
li {
	font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
 background-image: url("greek_background.jpg");
 background-repeat: repeat;
 background-color: #C9E0F3;
 /* color: #FFFFFF; */
}
